<!DOCTYPE html>
<html lang="en" ng-app="myapp.controllers">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>my view v2</title>

    <link rel="stylesheet" type="text/css" href="css/site.css"/>
    <link rel="stylesheet" type="text/css" href="angular.ui-grid/ui-grid.css"/>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.min.js"></script>
    <script src="angular.ui-grid/ui-grid.js"></script>

    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
    <script src="js/controller.js"></script>
</head>
<body>

<div ng-controller="TodoitemsController">
    <p>Todos for user: {{theUserId}} </p>
    <!--create / update form-->
    <hr />
    <table>
        <tbody> <!-- This table is to enter data-->
        <tr>
            <td>Enter User ID: </td><td>
            <input type="text" ng-model="currentTodoitem.userid"/></td>
        </tr>
        <tr>
            <td>Enter Name: </td><td>
            <input type="text" ng-model="currentTodoitem.name"/></td>
        </tr>
        <tr>
            <td>Enter Content: </td><td>
            <input type="text" ng-model="currentTodoitem.content"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" ng-click="update()" value="Update"/>
                <input type="button" ng-click="create()" value="Save as New"/>
            </td>
        </tr>
        </tbody>
    </table>

    <br />
    <hr />
    <!--items list-->
    <table> <!--This table is to display the data-->
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Designation</td>
        </tr>
        </thead>
        <tbody ng-repeat="todoitem in todoitems">
        <tr>
            <td ng-bind="todoitem.id"></td>
            <td ng-bind="todoitem.name"></td>
            <td ng-bind="todoitem.content"></td>
            <td><input type="button" ng-click="editing(todoitem.id, todoitem)" value="Edit"/></td>
            <td><input type="button" ng-click="delete(todoitem.id)" value="Delete"/></td>
        </tr>
        </tbody>
    </table>
</div>

<!--<div ng-controller="loadTodoitems">-->
<!--<div class="gridStyle" ui-grid="{ data: todos }"></div>-->
<!--</div>-->
</body>
</html>